* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
 }

 
 

    img {
        width: 100%;
        vertical-align: middle;
      
         
    }

    .stripes {
      background-image: linear-gradient(90deg, #0300ff 25%, #ffffff 25%, #ffffff 50%, #0300ff 50%, #0300ff 75%, #ffffff 75%, #ffffff 100%);
      background-size: 400.00px 400.00px;
    }

 

     .css-selector {
      background: linear-gradient(137deg, #0300ff, #ffffff);
      background-size: 200px;
  
      -webkit-animation: AnimationName 6s ease infinite;
      -moz-animation: AnimationName 10s ease infinite;
      animation: AnimationName 10s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 46%}
      50%{background-position:100% 55%}
      100%{background-position:0% 46%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 46%}
      50%{background-position:100% 55%}
      100%{background-position:0% 46%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 46%}
      50%{background-position:100% 55%}
      100%{background-position:0% 46%}
  }
     

  .css-selector2 {
   background: linear-gradient(137deg, #0300ff, #ffffff);
   background-size: 300px;

   -webkit-animation: AnimationName 6s ease infinite;
   -moz-animation: AnimationName 6s ease infinite;
   animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
   0%{background-position:0% 46%}
   50%{background-position:100% 55%}
   100%{background-position:0% 46%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 46%}
   50%{background-position:100% 55%}
   100%{background-position:0% 46%}
}
@keyframes AnimationName {
   0%{background-position:0% 46%}
   50%{background-position:100% 55%}
   100%{background-position:0% 46%}
}

   main {
     
      margin-bottom: 10px;
      background-color: #0300ff;
   }

   body{
    background-color: #0300ff;
   }

     h1 {
        font-family: 'DM Sans', sans-serif;
        font-size: 7.5vw;
        font-weight: 100;
        line-height: 1;
        
     }

     h3{
      font-family: 'DM Sans', sans-serif;
        font-size: 6.5vw;
       margin: auto;
       line-height: 1.5;
       
     }    

     h2 {
      font-family: 'DM Sans', sans-serif;
      font-size: 5vw;
      font-weight: 300;
      line-height: 1;
     }

     @media (max-width: 575.98px) { 
      h2 {
      
         font-size: 3em;
         
        }

        h1 {
     
         font-size: 4em;
      
      }

      .stripes {
         background-image: linear-gradient(90deg, #0300ff 25%, #ffffff 25%, #ffffff 50%, #0300ff 50%, #0300ff 75%, #ffffff 75%, #ffffff 100%);
         background-size: 270.00px 270.00px;
       }
   
       .ratio-21x9 {
           --bs-aspect-ratio: 100vh;
     

       }

       .dot {
         height: 30%;
         width: 30%;
         top: 80%;
         left: 50%;
         background-color: #ffffff;
         border-radius: 50%;
         transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         position: absolute     
       }     

      }       
     
     p {
        font-family: 'DM Sans', sans-serif;
        font-size: 2vw;
     }
    
     figcaption {
        font-size: 1em;
     }


     @media (max-width: 767.98px) { 

      h3{
         font-size: 6vw;

      }   

      p {
font-size: 4vw;
      }


      }

      @media (max-width: 991.98px) { 

         .card{
            width: 400px;
          }

          .card1 {
           margin-left: 15px;
            
          }

         
       }

     .page-link {
      color:#ffffff;
     }

     .card p {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
    }
    
    .card h2 {
      font-size: 14px;
      font-family: "Archivo Black", "Archivo", sans-serif;
      font-weight: normal;
    }

    :root {
      --primary: #555BFF;
      --secondary: #22D2A0;
      --background: white;
      --border: #0300ff;
    } 

    .card {
      background-color: var(--background);
      display: block;
      min-height: 80px;
      border: 3px solid var(--primary);
     
      box-shadow: 5px -5px 0 -2px var(--background), 5px -5px var(--border),
            10px -10px 0 -2px var(--background), 10px -10px var(--border), 
            15px -15px 0 -2px var(--background), 15px -15px var(--border), 
            20px -20px 0 -2px var(--background), 20px -20px var(--border); 
      transition: box-shadow 0.5s, top 0.5s, left 0.5s;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    
    .card:hover {
      top: -5px;
      left: 1px;
      box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
          0 0 0 -2px var(--background), 0 0 0 0  var(--yellow),
          0 0 0 -2px var(--background), 0 0 0 0  var(--orange),
          0 0 0 -2px  var(--background), 0 0 0 0  var(--red);
    }

    .card1 {
      background-color: var(--background);
      display: block;

      min-height: 80px;
      border: 3px solid var(--primary);
   
     
      box-shadow: -5px 5px 0 -2px var(--background), -5px 5px var(--border),
            -10px 10px 0 -2px var(--background), -10px 10px var(--border), 
            -15px 15px 0 -2px var(--background), -15px 15px var(--border), 
            -20px 20px 0 -2px var(--background), -20px 20px var(--border); 
      transition: box-shadow 0.5s, top 0.5s, left 0.5s;
      
      top: 0;
      left: 0;
      cursor: pointer;
    }
    
    .card1:hover {
      top: 10px;
      left: -1px;
      box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
          0 0 0 -2px var(--background), 0 0 0 0  var(--yellow),
          0 0 0 -2px var(--background), 0 0 0 0  var(--orange),
          0 0 0 -2px  var(--background), 0 0 0 0  var(--red);
    }


    blockquote {
      font-family: 'DM Sans', sans-serif;
      color: #0300ff;
      
   }
   
   section#block_content {
      background: #fff;
       text-align: left;     
   }


   .imagehover {
      position: relative;
      width: 100%;
      
    }
    
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
    
    }
    
    .imagehover:hover .overlay {
      opacity: 1;
    }
    
    .icon {
      font-size: 200%;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .hover {
      position: absolute;
      top: 90%;
      left: 30%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-decoration: none;
      
    }

    .bi {
      color:black;
    }
   
    .dot {
      height: 30%;
      width: 20%;
      top: 80%;
      left: 50%;
      background-color: #ffffff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      position: absolute;  
   
    }

    
    .rounded-text {
      width: 50%; 
      transform: rotate(-103deg); 
      font-family: 'DM Sans', sans-serif;

    }

    .white {
      fill: #fff;
    }
    .yellow {
      fill: #ffdc2a;
    }
    .green {
      fill: #00d0ff;
    }
    @keyframes rotating {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    .rotating {
      animation: rotating 12s linear infinite;
    }
    @keyframes coloring {
      0% {
        fill: #fff;
      }
      35% {
        fill: #ffda2a;
      }
      75% {
        fill: #00d3b9;
      }
      100% {
        fill: #fff;
      }
    }
    .coloring {
      animation: coloring 12s linear infinite;
    }

    .btn-primary {
      width: 200px;
      background-color: white;
      --bs-btn-hover-bg: #f0f3ff;
      --bs-btn-active-bg: white;
      --bs-btn-border-color: #0038FF;
      --bs-btn-border-radius: 0px;
      --bs-btn-border-width: 2px;
  }
  
  .offcanvas-header img {
  width: 240px;
  }
  
  .offcanvas-body a {
      font-size: 1.3em;
      color: #0038FF;
  }
    

    