* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0038FF;
 }
 
 
 body {
    
    margin: 10px;
    height: 100vh;
 }
 
 
 img {
    width: 100%;
    vertical-align: middle;
 }
 
 
 h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 7.5vw;
    font-weight: 100;
    text-align: justify;
 }
 

.card-title {
    text-align: left;
}
.card-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
}
 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 5em;
 }

 .figcaption {
    text-align: justify;
    font-size: 1em;
}

#Sec2 {
    background-color: #0038FF;
    height: 100vh;
  }

#Sec2 h1 {
    color: white; 
}

#Sec2 .figcaption {
    color: white;
}
