* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0038FF;
 }
 
 
 body {
    
    margin: 10px;
    height: 100vh;
 }
 
 
 img {
    width: 100%;
    vertical-align: middle;
 }
 
 
 h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 7.5vw;
    font-weight: 100;
    text-align: justify;
 }
 
 
 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 5em;
 }

 figcaption {
    font-size: 1.5em;
 }
 
 #apartado1 {
    background-color: #0038FF;
 }

#apartado2 {
    height: 100vh;
}

 #apartado2 h1 {
    line-height: 1;
 }

 .carousel-container {
    margin-top: -400px;
 }

 .margen-propio {
    margin-top: 200px;
 }
 .marquee-container {
    margin-top: 150px;
    width: 100%;
    border-top: 1px solid #0038FF;
    border-bottom: 1px solid #0038FF;
    overflow: hidden;
  }

 .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: marquee 15s linear infinite;
  }

  .marquee p {
    margin-bottom: 0;
    font-size: 2em;
  }
  
  @keyframes marquee {
    from { left: 100%; }
    to { left: -100%; }
  }

  #apartado3 {
    background-color: #0038FF;
    height: 100vh;
  }

#apartado3 .figcaption {
    color: white;
}

.figcaption {
    text-align: justify;
    font-size: 1em;
}
