* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0038FF;
 }
 
 
 body {
    
    margin: 10px;
    height: 100vh;
 }
 
 
 img {
    width: 100%;
    vertical-align: middle;
 }
 
 
 h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 8vw;
    font-weight: 100;
    text-align: justify;
 }
 
 
 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 5em;
 }
 
 #apartado1 {
    background-color: #0038FF;
 }

 #apartado2 h1 {
    line-height: 1.1;
 }