* {
    margin-right: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0038FF;
 }
 
 
 body {
    
    margin: 10px;
    height: 100vh;
 }
 
 
 img {
    width: 100%;
    vertical-align: middle;
 }
 
 
 h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 7.5vw;
    font-weight: 100;
    text-align: justify;
    margin-left: 0;
 }
 
 
 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    text-align: justify;
 }

 .col-md-6 h2 {
   margin-bottom: 0; 
}

.container {
   margin-right: 0;
}

 figcaption {
    font-size: 1em;
 }

 
    .no-padding {
        padding: 0 !important;
    }


 .carousel-container {
    margin-top: -400px;
 }

 .margen-propio {
    margin-top: 200px;
 }
 .marquee-container {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #0038FF;
    border-bottom: 1px solid #0038FF;
    overflow: hidden;
  }

 .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: marquee 10s linear infinite;
  }

  .marquee p {
    margin-bottom: 0;
    font-size: 2em;
  }
  
  @keyframes marquee {
    from { left: 100%; }
    to { left: -100%; }
  }

  

#apartado3 .figcaption {
    color: white;
}
 